#game-grid {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: darkgray;
  justify-content: center;
  align-items: center;
  perspective: 500px;
  gap: 0.4rem;
}


/* Cells */
.cell {
  width: 4rem;
  height: 4rem;
  margin-bottom: 0.5rem;
  border: 1px solid rgba(53, 53, 53, 0.1);
  box-shadow: 1px 1px 0px var(--soil-color), 2px 2px 0px var(--soil-color),
    3px 3px 0px var(--soil-color), 4px 4px 0px var(--soil-color),
    5px 5px 0px var(--soil-color), 6px 6px 0px var(--soil-color);
  transition: transform 0.3s;
}

.cell:hover {
  transform: scale(1.3);
  opacity: 0.9;
}



/* Grass */
.grass {
  background-image: url(/assets/images/cells/grass/grass1.png);
}
.inner-grass {
  background-image: url(/assets/images/cells/grass/grass1.png);
  filter: brightness(50%);
}



/* Soil */
.soil {
  background-image: url(/assets/images/cells/soil/soil1.png);
}
.inner-soil {
  background-image: url(/assets/images/cells/soil/soil1.png);
  filter: brightness(50%);
}


/* Stone */
.stone {
  background-image: url(/assets/images/cells/stone/stone1.png);
  box-shadow: 1px 1px 0px var(--stone-color), 2px 2px 0px var(--stone-color),
    3px 3px 0px var(--stone-color), 4px 4px 0px var(--stone-color),
    5px 5px 0px var(--stone-color), 6px 6px 0px var(--stone-color);
  filter: brightness(80%);
}


/* Gold Ore */
.gold {
  background-image: url(/assets/images/cells/ore/gold.png);
  box-shadow: 1px 1px 0px var(--stone-color), 2px 2px 0px var(--stone-color),
    3px 3px 0px var(--stone-color), 4px 4px 0px var(--stone-color),
    5px 5px 0px var(--stone-color), 6px 6px 0px var(--stone-color);
  filter: brightness(80%);
}


/* Silver Ore */
.silver {
  background-image: url(/assets/images/cells/ore/silver.png);
  box-shadow: 1px 1px 0px var(--stone-color), 2px 2px 0px var(--stone-color),
    3px 3px 0px var(--stone-color), 4px 4px 0px var(--stone-color),
    5px 5px 0px var(--stone-color), 6px 6px 0px var(--stone-color);
  filter: brightness(80%);
}


/* Wood */
.wood {
  background-image: url(/assets/images/cells/wood/wood.png);
  box-shadow: 1px 1px 0px var(--wood-color), 2px 2px 0px var(--wood-color),
    3px 3px 0px var(--wood-color), 4px 4px 0px var(--wood-color),
    5px 5px 0px var(--wood-color), 6px 6px 0px var(--wood-color);
  filter: brightness(1.4);
}


/* Leaves */
.leaves {
  background-image: url(/assets/images/cells/wood/leaves.png);
  box-shadow: 1px 1px 0px var(--leaves-color), 2px 2px 0px var(--leaves-color),
    3px 3px 0px var(--leaves-color), 4px 4px 0px transparent,
    5px 5px 0px transparent, 6px 6px 0px var(--leaves-color);
}


/* Lava */
.lava {
  background-image: url(/assets/images/cells/lava/Lava_29_JE2_BE1.png);
  box-shadow: 1px 1px 0px var(--lava-color), 2px 2px 0px var(--lava-color),
    3px 3px 0px var(--lava-color), 4px 4px 0px var(--lava-color),
    5px 5px 0px var(--lava-color), 6px 6px 0px var(--lava-color);
  filter: brightness(80%);
}

.sky{
   background-color: var(--sky-color);
   box-shadow: 1px 1px 0px var(--sky-color), 2px 2px 0px var(--sky-color),
   3px 3px 0px var(--sky-color), 4px 4px 0px var(--sky-color),
   5px 5px 0px var(--sky-color), 6px 6px 0px var(--sky-color);
}

.cloud{
   background-color: var(--cloud-color);
   box-shadow: 1px 1px 0px var(--cloud-color), 2px 2px 0px var(--cloud-color),
   3px 3px 0px var(--cloud-color), 4px 4px 0px var(--cloud-color),
   5px 5px 0px var(--cloud-color), 6px 6px 0px var(--cloud-color);
}
