
/* Cursors */
.sword-cursor{
  cursor: url("/assets/cursor/cursor.cur") 0 0, pointer;
}
.axe-cursor{
  cursor: url("/assets/cursor/axe.cur") 0 0, pointer;
}
.pickaxe-cursor{
  cursor: url("/assets/cursor/pickaxe.cur") 0 0, pointer;
}
.shovel-cursor{
  cursor: url("/assets/cursor/shovel.cur") 0 0, pointer;
}

/* Intro Buttons */
.button {
  width: 35rem;
  height: 3.5rem;
  padding: 0.1rem 0;
  font-size: 1.4rem;
  color: var(--btn-text);
  background-image: url(/assets/images/button/button.png);
  border-color: #aaa #565656 #565656 #aaa;
  text-shadow: 3px 3px #4c4c4c;
  outline: 2px solid black;
  font-family: var(--text-font);
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
.button:hover {
  background-image: url(/assets/images/button/hover.png);
  text-shadow: 2px 2px #202013cc;
  color: var(--btn-text-hover);
}

/* Tool Holder */
.tool {
  width: 4.4rem;
  height: 4.4rem;
  background: var(--toolbar-inner);
  box-shadow: inset 1.5px 1.5px 0px rgba(55, 55, 55, 0.8),
    inset -2px -2px 0px #ffffff;
}

/* Block Holder */
.blocks-holder{
  width: 4.4rem;
  height: 4.4rem;
  background: var(--toolbar-inner);
  box-shadow: inset 1.5px 1.5px 0px rgba(55, 55, 55, 0.8),
    inset -2px -2px 0px #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Change to class later */
.blocks-holder:hover{
  width: 4.5rem;
  height: 4rem;
  box-shadow: inset -1px -1px 0px rgba(55, 55, 55, 0.7),
    inset 1px 1px 0px #ffffff;
}

/* Block Counter */
.counter{
  font-size: 1.1rem;
  color: black;
  padding-top: 3rem;
}

/* Spyglass */
.spyglass-effect {
  position: absolute;
  width: 40%;
  height: 70%;
  top: 10%;
  left: 25%;
  z-index: 5;
  box-shadow:0 0 0 100rem #2e2e2e;
  border-radius: 50%;
  border:5rem solid #8d8d8d;
}

.glass{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;  
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.09);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.48);
}